.performance {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;


}

.performanceSchedule {
    height: 750px;
    width: 60%;
    padding-left:40px;

    &__title{
        font-size: 20px;
        padding-left: 40px;
    }
}

.performanceTable{
    max-height: 85dvh;
    overflow-y: auto;
}
