$background-website:#F5F5F5;

$background-gradient:  linear-gradient(360deg, #fff 0%, #e7e7e7 27.12%, #a2a2a2 100%);
$light:#F1F1F1;
$basic:#D0D0D0;
$average:#CFCFCF;

$font-family-color:#0B0B0B;
$font-family-website:"Montserrat", sans-serif;
$font-filter-color:#3EA3F5;

$nav-bg:#013358;
$nav-activ-bg:#2886C6;

$checked: #44C045;
$hover-checked:#B4E6B5;

$fine:#28EE96 ; 
$normal:#FFD900 ; 
$bad:#FA4F56 ; 
